:root {
    /* Définition des variables avec les couleurs */
    --color-secondary: #040404;
    --color-primary: #C80424;
    --color-success: #040428;
  }


.navbar{
    justify-content: space-evenly;
    font-weight: bold;
    background-color: aliceblue;
}
.item-nav{
    display: flex;
    justify-content: space-around;
}

.navbar > a {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--color-secondary)
}
.navbar > a:hover{
    color:  var(--color-primary)
}
main{
    padding: 1rem 0;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titre{
    width: 100%;
    text-align: center;
    color: var(--color-primary);
    text-transform: uppercase;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: 1rem auto;
    background-color:  var(--color-primary);
    border-radius:  10px;
    padding: 1rem 0;
}
label{
    color: var(--color-secondary);
    font-weight: 700;
}
#nom , #prenom , #telephone,  #email, .submit{
    width: 60%;
    border: 2.5px solid var(--color-secondary);
    border-radius: 10px;
    height: 2rem;
}
.submit{
    width: 30%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 700;
}
.submit:hover{
    background-color: #040404;
    border: #C80424;
    width: 31%;
    color: #C80424;
}
.formation-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
}



.list-formation{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formation-div > label {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 50%;
}
.formation-div input[type="checkbox"] {
    transform: scale(2);
    border: 1px solid #040404;
  }

.formulaire{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    background-color:  var(--color-primary);
    border-radius:  10px 10px 0 0;
    padding: 1rem 0;
}


.table{
    width: 90%;
    border-color: #C80424;
}
thead{
    background-color: #C80424;
}

footer{
    background-color: #C80424;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer >a {
    color: #040404;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
footer > a:hover{
    color: #040428;
}